.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.hidden-fields {
  display: none;
}

mat-card-actions {
  width: 7%;
  border-radius: 1rem;
  margin-left: 1%;
  text-align: center;
}

.valid-class {
  color: orange;
  border: 3px solid orange;
}

.invalid-class {
  color: lightgray;
  border: 3px solid lightgray;
}
