<mat-card class="welcome-card">
  <div class="hero-image">
    <h1 class="hero-text">Welcome to the Flight Booking Website</h1>
  </div>

  <mat-card-content class="welcome-text">
    <p>Explore the world with the best flight deals at your fingertips. Search, compare, and book flights easily.</p>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" (click)="navigateToBooking()">Book Now</button>
  </mat-card-actions>

  <app-booking-update></app-booking-update>
</mat-card>
